.icon{
    display: flex;
    position: relative;
    height: fit-content;
    /* align-self: center;
    justify-content: center; */
}
.icon>.initial{
    position:absolute;
    color: white;
    font-weight: bold;
    font-size: 80%;
    right:0;
    left:0;
 
    /* bottom:auto; */
    margin: auto;
    width: fit-content;
    height: 100%;
    /* vertical-align: middle;
    text-align: center; */

}