@media screen and (max-width:700px) {
    .WeeklyCal-header{
        font-size: 1.5rem;
        justify-content: center;
         gap:10%;
         /* color: var(--font-darkgrey); */
        }
    .Weekly-calendar-container-mobile>.WeeklyCal-header>.period-container{
        display: flex;
        flex-direction: column;
        /* gap: 3%; */
        justify-content: center;
        /* margin-top: 3%; */
        color: var(--font-darkgrey);
        font-size: 0.8rem;
    }
    .Weekly-calendar-container-mobile>.WeeklyCal-header>.period-container>.period{
        display: flex;
        flex-direction: row;
        color: var(--wink-color);
        font-weight: bold;
        font-size: 1rem;
    }

    .Cards_container{
        margin: 10% 5%;
        display: flex;
        flex-direction: column;
        gap:calc(1rem + 5vw);
    }
    .Summary_card{
        display: flex;
        box-shadow: var(--background-shadow);
        height: 20vw;
        /* width: 100%; */
        border-radius: 1rem;
        align-items: center;
        /* background-color: var(--wink-color); */
        /* color: white; */
        flex-direction: column;
        padding:3%;
        justify-content: center;
    }
    .Summary_card>.position{
        display: flex;
        flex-direction: row;
        font-size: calc(0.6rem + 2vw);
        min-height: fit-content;
        gap:1rem;
        align-items: center;
        margin-bottom: 3%;
        /* align-self: center; */
    }
    .Summary_card>.row{
        color:var(--font-darkgrey);
        font-size: calc(0.4rem + 2vw);
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        /* width: 80% */
    }
    .Summary_card>.WeeklyCal-Profiles>.profile{
        padding: 0;
    }
    .Cards_container>.Schedule{
        /* margin: 5%; */
        display: flex;
        flex-direction: column;
        gap:calc(0.1rem + 4vw)
       
    }
    .Cards_container>.Schedule>.title{  
        font-weight: bold;
    }
    .Cards_container>.Schedule>.title-today{  
        font-weight: bold;
        color: var(--wink-color);
    }
    .card{
        display: flex;
        box-shadow: var(--background-shadow);
        height: 25vw;
        width: 100%;
        border-radius: 1rem;
        align-items: center;
        font-size: calc(0.3rem + 2vw);
        /* padding: 5%; */
        
    }
    .no-message{
        color: var(--font-darkgrey);
    }
    
    .card>.first-column{
        flex:1;
        font-size: calc(0.5rem + 2vw);
        font-weight: bold;
        margin: 5% 2.5% 5% 5%;
        position: relative;
    }
    .card>.first-column>.deco-circle{
        position: absolute;
        /* margin: 0 auto; */
        width: 3.3rem;
        height: 3.3rem;
        border-radius: 3rem;
        left:50%; 
        top:50%;
        transform: translate(-50%, -50%);
        /* background-color: var(--wink-color-light); */
        border: 2px solid var(--wink-color-light);
        z-index: -1;
    }
    /* .card>.today-first-column{
        /* background-color:var(--wink-color-light); */
        /* flex:1;
        font-size: 1.3rem;
        font-weight: bold; */
        /* height: 100%; */
        /* border-radius:1rem 0 0 1rem ;
        padding: 5% 2.5% 5% 5%; 
        
    } */
    .card>.first-column>.day{
        color:var(--wink-color);
        
    }
    /* .card>.today-first-column>.today-day{
        color:white;
        
    }
    .card>.today-first-column>.today-date{
        color:var()
        
    } */
    .card>.second-column{
        flex:2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 3% 3% 3% 1.5%;
        
    }
    .second-column>.block{
        color:var(--warning-color);
        font-size: 0.8rem;
    }
    .second-column>.block>p{
        margin:0;
    }
    /* .card>.second-column>.card_text{
        overflow-wrap:normal
        
    }  */
    .card>.second-column>.hours{
        color: var(--font-darkgrey)
    }
    .card-vac{
        font-size: calc(0.6rem + 1.5vw);
        font-weight: bold;
        display: flex;
        flex-direction: column ;
        box-shadow: var(--background-shadow);
        height: 10vw;
        width: 100%;
        border-radius: 1rem;
        align-items: center;
        justify-content: center;
        padding: 3%;
    }
    .card-vac>.first-row{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        /* color: var(--font-darkgrey); */
    }
    .text-highlight{
        /* color: var(--wink-color) */
        /* font-weight: bold; */
    }
}