.Admin-weekly-calendar>.Weekly-header{
    display: grid;
    grid-template-columns: repeat(8,minmax(50px,1fr));
    grid-template-rows: auto;
}

.Weekly-header>.period{
    grid-column: 1/-1;
    grid-row: 1;
    border-bottom: 0.5px solid var(--grid-color);
    padding: 0.3em 0.3em 2em 0.3rem;
    font-weight: bold;
    font-size: large;
    color:var(--wink-color)
}
.Weekly-header>.days{
    grid-column: 1/-1;
    grid-row:2;
    display: grid;
   grid-template-columns: repeat(8,minmax(50px,1fr));
   border-bottom: 0.5px solid var(--grid-color);
   border-left: 0.5px solid var(--grid-color);
}
.Weekly-header>.days>div{
    border-right: 0.5px solid var(--grid-color);
    padding: 0.3em;
}
.Admin-weekly-calendar>.Schedules{
    display: grid;
    grid-template-columns: repeat(8,minmax(50px,1fr));
    grid-template-rows: auto;
    border-left: 0.5px solid var(--grid-color);
}
.Admin-weekly-calendar>.Schedules>div{
    border-bottom: 0.5px solid var(--grid-color);
    border-right: 0.5px solid var(--grid-color);
    padding: 0.3em;
    position: relative;
}

.Admin-weekly-calendar>.Schedules>.Schedule.clickable:hover{
    cursor: pointer;
    border: 2px solid var(--wink-color-light);
    
}
.Admin-weekly-calendar>.Schedules>.Schedule.non-clickable{
    /* border: 2px solid var(--wink-color-light); */
    background-color: rgba(230, 235, 230, 0.15)
    
}
.Admin-weekly-calendar>.Schedules>.Schedule>.delete{
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    top:0;
    right:0;
    background-color: transparent;
    border: none;
}
.Admin-weekly-calendar>.Schedules>.Schedule:hover>.delete{
    visibility: visible
}
.Scheduling{
margin: 2rem 0rem;
}
@media  only screen and (max-width:1000px) {
    .Admin-weekly-calendar>.Schedules>.Schedule>.delete{
        visibility: visible;
        
    }
}